# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

* text=auto

[Cc][Mm]ake[Ll]ists.txt text eol=lf
*.bat text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.unused-patches text eol=lf
*.rc text eol=lf

# All module imports are vendor, remove them from linguist stats chart for accurate stats.
import/* linguist-vendored
